$gray-color: #605d74;
$light-gray: rgb(221, 221, 223);
%area {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

%text-area {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  flex-grow: 1;
  height: 50vh;
  border: 2px solid $gray-color;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.outer-container {
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=d7f7f3ff&noise=cccccc&density=25&opacity=10");
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container {
  width: 95%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 16px auto;
}

#title {
  margin: 16px auto;
  font-size: 1.4em;
  color: $gray-color;
}

#editor-container {
  @extend %area;
  textarea {
    @extend %text-area;
    display: block;
    overflow-y: auto;
    resize: none;
  }
}

#preview-container {
  @extend %area;
  #preview {
    @extend %text-area;
    background-color: white;
    overflow-y: auto;
  }

  pre {
    overflow-x: auto;
  }
}

.group-toggle {
  display: flex;
  h2 {
    font-size: 1.3em;
    color: $gray-color;
  }
  h2 + div {
    flex-grow: 1;
    align-self: center;
    & > button {
      border: 1px solid $gray-color;
      background-color: transparent;
      padding: 4px;
      margin-left: 16px;
    }
    & > button:hover,
    & > button:active {
      background-color: $light-gray;
    }
    img {
      width: 1em;
    }
  }
}

#btn-toggle {
  display: inline-block;
  margin-left: 16px;
  align-self: center;
}

#btn-toggle-pr {
  border: 1px solid $gray-color;
  padding: 8px;
  background-color: transparent;

  &:hover,
  &:active {
    background-color: $light-gray;
  }
}

@media (min-width: 720px) {
  %area {
    flex-grow: unset;
  }

  .container {
    flex-direction: row;
  }

  #editor-container,
  #preview-container {
    width: 49%;
  }

  #editor-container {
    justify-self: flex-start;
  }

  #btn-toggle {
    display: none;
  }

  #preview-container {
    justify-self: flex-end;
  }
}
