#editor-container, #preview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#editor-container textarea, #preview-container #preview {
  width: 100%;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50vh;
  border: 2px solid #605d74;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.outer-container {
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=d7f7f3ff&noise=cccccc&density=25&opacity=10");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 95%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 16px auto;
}

#title {
  margin: 16px auto;
  font-size: 1.4em;
  color: #605d74;
}

#editor-container textarea {
  display: block;
  overflow-y: auto;
  resize: none;
}

#preview-container #preview {
  background-color: white;
  overflow-y: auto;
}

#preview-container pre {
  overflow-x: auto;
}

.group-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.group-toggle h2 {
  font-size: 1.3em;
  color: #605d74;
}

.group-toggle h2 + div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.group-toggle h2 + div > button {
  border: 1px solid #605d74;
  background-color: transparent;
  padding: 4px;
  margin-left: 16px;
}

.group-toggle h2 + div > button:hover,
.group-toggle h2 + div > button:active {
  background-color: #dddddf;
}

.group-toggle .svg-helper {
  width: 1.6em;
  margin-left: 1.5em;
  -webkit-filter: invert(38%) sepia(22%) saturate(383%) hue-rotate(208deg) brightness(90%) contrast(90%);
          filter: invert(38%) sepia(22%) saturate(383%) hue-rotate(208deg) brightness(90%) contrast(90%);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.group-toggle #btn-toggle {
  margin-left: auto;
}

.svg-icon {
  width: 1.2em;
}

.bounce {
  -webkit-animation-name: bounce-6;
          animation-name: bounce-6;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce-6 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-10px);
            transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes bounce-6 {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-10px);
            transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-3px);
            transform: scale(1, 1) translateY(-3px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#btn-toggle {
  display: inline-block;
  margin-left: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#btn-toggle-pr {
  border: 1px solid #605d74;
  padding: 8px;
  background-color: transparent;
}

#btn-toggle-pr:hover, #btn-toggle-pr:active {
  background-color: #dddddf;
}

@media (min-width: 720px) {
  #editor-container, #preview-container {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #editor-container,
  #preview-container {
    width: 49%;
  }
  #editor-container {
    justify-self: flex-start;
  }
  #btn-toggle {
    display: none;
  }
  #preview-container {
    justify-self: flex-end;
  }
}
/*# sourceMappingURL=App.css.map */