$gray-color: #605d74;
$light-gray: #dddddf;
%area {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

%text-area {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  flex-grow: 1;
  height: 50vh;
  border: 2px solid $gray-color;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.outer-container {
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=d7f7f3ff&noise=cccccc&density=25&opacity=10");
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container {
  width: 95%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 16px auto;
}

#title {
  margin: 16px auto;
  font-size: 1.4em;
  color: $gray-color;
}

#editor-container {
  @extend %area;
  textarea {
    @extend %text-area;
    display: block;
    overflow-y: auto;
    resize: none;
  }
}

#preview-container {
  @extend %area;
  #preview {
    @extend %text-area;
    background-color: white;
    overflow-y: auto;
  }

  pre {
    overflow-x: auto;
  }
}

.group-toggle {
  display: flex;
  h2 {
    font-size: 1.3em;
    color: $gray-color;
  }
  h2 + div {
    align-self: center;
    & > button {
      border: 1px solid $gray-color;
      background-color: transparent;
      padding: 4px;
      margin-left: 16px;
    }
    & > button:hover,
    & > button:active {
      background-color: $light-gray;
    }
  }
  .svg-helper {
    width: 1.6em;
    margin-left: 1.5em;
    filter: invert(38%) sepia(22%) saturate(383%) hue-rotate(208deg)
      brightness(90%) contrast(90%);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
  #btn-toggle {
    margin-left: auto;
  }
}

.svg-icon {
  width: 1.2em;
}

.bounce {
  animation-name: bounce-6;
  animation-timing-function: ease;
}

@keyframes bounce-6 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-3px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#btn-toggle {
  display: inline-block;
  margin-left: 16px;
  align-self: center;
}

#btn-toggle-pr {
  border: 1px solid $gray-color;
  padding: 8px;
  background-color: transparent;

  &:hover,
  &:active {
    background-color: $light-gray;
  }
}

@media (min-width: 720px) {
  %area {
    flex-grow: unset;
  }

  .container {
    flex-direction: row;
  }

  #editor-container,
  #preview-container {
    width: 49%;
  }

  #editor-container {
    justify-self: flex-start;
  }

  #btn-toggle {
    display: none;
  }

  #preview-container {
    justify-self: flex-end;
  }
}
